<div class="col-xs-12 panle">
    <div class="col-xs-12 nopadding panleTop">
    	团队介绍
    </div>
    <div class="col-xs-12 nopadding panleMain">
    
    </div>
</div>
<div class="col-xs-12 panle">
    <div class="col-xs-12 nopadding panleTop">
    	公司信息
    </div>
    <div class="col-xs-12 nopadding panleMain">
    
    </div>
</div>
<div class="col-xs-12 panle">
    <div class="col-xs-12 nopadding panleTop">
    	经营理念
    </div>
    <div class="col-xs-12 nopadding panleMain">
    
    </div>
</div>
<div class="col-xs-12 panle">
    <div class="col-xs-12 nopadding panleTop">
    	企业公告
    </div>
    <div class="col-xs-12 nopadding panleMain">
    
    </div>
</div>
<div class="col-xs-12 panle">
    <div class="col-xs-12 nopadding panleTop">
    	招贤纳士
    </div>
    <div class="col-xs-12 nopadding panleMain">
    
    </div>
</div>