
    <div class="col-xs-12 nopadding" D_type="navPoint" D_data="team">
    	团队介绍
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>


    <div class="col-xs-12 nopadding" D_type="navPoint" D_data="company">
    	公司信息
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>

    <div class="col-xs-12 nopadding" D_type="navPoint" D_data="idea">
    	经营理念
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>

    <div class="col-xs-12 nopadding" D_type="navPoint" D_data="announcement">
    	企业公告
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>

    <div class="col-xs-12 nopadding" D_type="navPoint" D_data="recruit">
    	招贤纳士
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
