<div class="col-xs-12 nopadding" D_type="navPoint" D_data="goodList">
    	我的订单
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
<div class="col-xs-12 nopadding" D_type="navPoint" D_data="dealList">
    	收支记录
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
<div class="col-xs-12 nopadding" D_type="navPoint" D_data="userDetail">
    	基本信息设置
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
<div class="col-xs-12 nopadding" D_type="navPoint" D_data="email">
    	邮箱绑定修改
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
<div class="col-xs-12 nopadding" D_type="navPoint" D_data="phone">
    	手机绑定修改
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
<div class="col-xs-12 nopadding" D_type="navPoint" D_data="card">
    	银行卡绑定修改
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
    