<div class="col-xs-12 nopadding" D_type="navPoint" D_data="goodList" style="background-color: #FFFFFF;box-shadow: .3rem .3rem .3rem rgba(0,0,0,0.3);margin-top: 1rem;padding-bottom: .5rem;border-left: .5rem solid #198eca;height:3rem;line-height:3rem;font-size:1.5rem;">
    	我的众筹产品
        <span class="glyphicon glyphicon-triangle-right pull-right" aria-hidden="true" style="position:relative;top:.8rem;"></span>
    </div>
<div class="col-xs-12 nopadding" D_type="navPoint" D_data="dealList" style="background-color: #FFFFFF;box-shadow: .3rem .3rem .3rem rgba(0,0,0,0.3);margin-top: 1rem;padding-bottom: .5rem;border-left: .5rem solid #198eca;height:3rem;line-height:3rem;font-size:1.5rem;">
    	收支记录
        <span class="glyphicon glyphicon-triangle-right pull-right" aria-hidden="true" style="position:relative;top:.8rem;"></span>
    </div>
<div class="col-xs-12 nopadding" D_type="navPoint" D_data="userDetail" style="background-color: #FFFFFF;box-shadow: .3rem .3rem .3rem rgba(0,0,0,0.3);margin-top: 1rem;padding-bottom: .5rem;border-left: .5rem solid #198eca;height:3rem;line-height:3rem;font-size:1.5rem;">
    	基本信息设置
        <span class="glyphicon glyphicon-triangle-right pull-right" aria-hidden="true" style="position:relative;top:.8rem;"></span>
    </div>
<div class="col-xs-12 nopadding" D_type="navPoint" D_data="email" style="background-color: #FFFFFF;box-shadow: .3rem .3rem .3rem rgba(0,0,0,0.3);margin-top: 1rem;padding-bottom: .5rem;border-left: .5rem solid #198eca;height:3rem;line-height:3rem;font-size:1.5rem;">
    	邮箱绑定修改
        <span class="glyphicon glyphicon-triangle-right pull-right" aria-hidden="true" style="position:relative;top:.8rem;"></span>
    </div>
<div class="col-xs-12 nopadding" D_type="navPoint" D_data="phone" style="background-color: #FFFFFF;box-shadow: .3rem .3rem .3rem rgba(0,0,0,0.3);margin-top: 1rem;padding-bottom: .5rem;border-left: .5rem solid #198eca;height:3rem;line-height:3rem;font-size:1.5rem;">
    	手机绑定修改
        <span class="glyphicon glyphicon-triangle-right pull-right" aria-hidden="true" style="position:relative;top:.8rem;"></span>
    </div>
<div class="col-xs-12 nopadding" D_type="navPoint" D_data="card" style="background-color: #FFFFFF;box-shadow: .3rem .3rem .3rem rgba(0,0,0,0.3);margin-top: 1rem;padding-bottom: .5rem;border-left: .5rem solid #198eca;height:3rem;line-height:3rem;font-size:1.5rem;">
    	银行卡绑定修改
        <span class="glyphicon glyphicon-triangle-right pull-right" aria-hidden="true" style="position:relative;top:.8rem;"></span>
    </div>
    