<div class="col-xs-10 col-xs-offset-1 text-primary"><h3>客服电话：</h3></div>
<div class="col-xs-8 col-xs-offset-2"><h4>123456456</h4></div>
<div class="col-xs-10 col-xs-offset-1 text-primary"><h3>客服邮箱：</h3></div>
<div class="col-xs-8 col-xs-offset-2"><h4>123456456@qq.com</h4></div>
<div class="col-xs-10 col-xs-offset-1 text-primary"><h3>客服QQ：</h3></div>
<div class="col-xs-8 col-xs-offset-2"><h4>123456456</h4></div>
<div class="col-xs-10 col-xs-offset-1 text-primary"><h3>客服微信：</h3></div>
<div class="col-xs-8 col-xs-offset-2"><h4>123456456</h4></div>
<div class="col-xs-10 col-xs-offset-1 text-primary"><h3>微信公众号：</h3></div>
<div class="col-xs-8 col-xs-offset-2"><h4>123456456</h4></div>
<div class="col-xs-10 col-xs-offset-1 text-primary"><h3>公司地址：</h3></div>
<div class="col-xs-8 col-xs-offset-2"><h4>深圳市南山区高新科技园这栋那栋三楼五室</h4></div>