<div class="col-xs-10 col-xs-offset-1">客服电话：</div>
<div class="col-xs-10 col-xs-offset-1">123456456</div>
<div class="col-xs-10 col-xs-offset-1">客服邮箱：</div>
<div class="col-xs-10 col-xs-offset-1">123456456</div>
<div class="col-xs-10 col-xs-offset-1">客服QQ：</div>
<div class="col-xs-10 col-xs-offset-1">123456456</div>
<div class="col-xs-10 col-xs-offset-1">客服微信：</div>
<div class="col-xs-10 col-xs-offset-1">123456456</div>
<div class="col-xs-10 col-xs-offset-1">微信公众号：</div>
<div class="col-xs-10 col-xs-offset-1">123456456</div>
<div class="col-xs-10 col-xs-offset-1">公司地址：</div>
<div class="col-xs-10 col-xs-offset-1">123456456</div>