<div class="row" style=" background-color:#FFFFFF; box-shadow:.3rem .3rem .3rem rgba(0,0,0,0.3); margin-bottom:1rem;">
	<div class="row">
    	<div class="col-xs-2" style="background-color:#DD0104;color:#fff;">1</div>
        <div class="col-xs-10" style="color:#fff;"><h3>常见问题的标题</h3></div>
    </div>
    <div class="row">
    	<div class="col-xs-12">
        	书法家克利斯朵夫就开始两地分居看啦机卡分离束带结发考虑是否加快速度理发店寄售点卡雷锋精神
        </div>
    </div>
</div>
<div class="row" style=" background-color:#FFFFFF; box-shadow:.3rem .3rem .3rem rgba(0,0,0,0.3); margin-bottom:1rem;">
	<div class="row">
    	<div class="col-xs-2" style="background-color:#DD0104;color:#fff;">1</div>
        <div class="col-xs-10" style="color:#fff;"><h3>常见问题的标题</h3></div>
    </div>
    <div class="row">
    	<div class="col-xs-12">
        	书法家克利斯朵夫就开始两地分居看啦机卡分离束带结发考虑是否加快速度理发店寄售点卡雷锋精神
        </div>
    </div>
</div>
<div class="row" style=" background-color:#FFFFFF; box-shadow:.3rem .3rem .3rem rgba(0,0,0,0.3); margin-bottom:1rem;">
	<div class="row">
    	<div class="col-xs-2" style="background-color:#DD0104;color:#fff;">1</div>
        <div class="col-xs-10" style="color:#fff;"><h3>常见问题的标题</h3></div>
    </div>
    <div class="row">
    	<div class="col-xs-12">
        	书法家克利斯朵夫就开始两地分居看啦机卡分离束带结发考虑是否加快速度理发店寄售点卡雷锋精神
        </div>
    </div>
</div>
<div class="row" style=" background-color:#FFFFFF; box-shadow:.3rem .3rem .3rem rgba(0,0,0,0.3); margin-bottom:1rem;">
	<div class="row">
    	<div class="col-xs-2" style="background-color:#DD0104;color:#fff;">1</div>
        <div class="col-xs-10" style="color:#fff;"><h3>常见问题的标题</h3></div>
    </div>
    <div class="row">
    	<div class="col-xs-12">
        	书法家克利斯朵夫就开始两地分居看啦机卡分离束带结发考虑是否加快速度理发店寄售点卡雷锋精神
        </div>
    </div>
</div>