<div class="clearfix" style="margin-top:1rem"></div>
<table class="table table-bordered">

                  <tr>
                    <td width="30%">编号</td>
                    <td>&nbsp;</td>
                    </tr>
                    <tr>
                    <td>商品名</td>
                    <td>&nbsp;</td>
                    </tr>
                    <tr>
                    <td>买入价</td>
                    <td>&nbsp;</td>
                    </tr>
                    <tr>
					<td>现价</td>
                    <td>&nbsp;</td>
                    </tr>
                    <tr>
                    <td>购买份数</td>
                    <td>&nbsp;</td>
                    </tr>
                    <tr>
                    <td>利润</td>
                    <td>&nbsp;</td>
                    </tr>
                    <tr>
					<td>卖出</td>
                    <td>&nbsp;</td>
                    </tr>
                    <tr>
					<td>债权转让</td>
                    <td>&nbsp;</td>
                  </tr>

</table>
<table class="table table-bordered">

                  <tr>
                    <td width="30%">编号</td>
                    <td>&nbsp;</td>
                    </tr>
                    <tr>
                    <td>商品名</td>
                    <td>&nbsp;</td>
                    </tr>
                    <tr>
                    <td>买入价</td>
                    <td>&nbsp;</td>
                    </tr>
                    <tr>
					<td>现价</td>
                    <td>&nbsp;</td>
                    </tr>
                    <tr>
                    <td>购买份数</td>
                    <td>&nbsp;</td>
                    </tr>
                    <tr>
                    <td>利润</td>
                    <td>&nbsp;</td>
                    </tr>
                    <tr>
					<td>卖出</td>
                    <td>&nbsp;</td>
                    </tr>
                    <tr>
					<td>债权转让</td>
                    <td>&nbsp;</td>
                  </tr>

</table>
<table class="table table-bordered">

                  <tr>
                    <td width="30%">编号</td>
                    <td>&nbsp;</td>
                    </tr>
                    <tr>
                    <td>商品名</td>
                    <td>&nbsp;</td>
                    </tr>
                    <tr>
                    <td>买入价</td>
                    <td>&nbsp;</td>
                    </tr>
                    <tr>
					<td>现价</td>
                    <td>&nbsp;</td>
                    </tr>
                    <tr>
                    <td>购买份数</td>
                    <td>&nbsp;</td>
                    </tr>
                    <tr>
                    <td>利润</td>
                    <td>&nbsp;</td>
                    </tr>
                    <tr>
					<td>卖出</td>
                    <td>&nbsp;</td>
                    </tr>
                    <tr>
					<td>债权转让</td>
                    <td>&nbsp;</td>
                  </tr>

</table>