<div class="col-xs-12 nopadding"><img src="img/step_01.jpg" class="img-responsive" alt="Responsive image"></div>
<div class="col-xs-12 nopadding"><img src="img/step_02.jpg" class="img-responsive" alt="Responsive image"></div>
<div class="col-xs-12 nopadding"><img src="img/step_03.jpg" class="img-responsive" alt="Responsive image"></div>
<div class="col-xs-12 nopadding"><img src="img/step_04.jpg" class="img-responsive" alt="Responsive image"></div>
<div class="col-xs-12 nopadding"><img src="img/step_05.jpg" class="img-responsive" alt="Responsive image"></div>