<form class="form-horizontal">
  <div class="form-group row" style="margin-top:2rem;">
    <label for="inputEmail3" class="col-xs-10 col-xs-offset-1 control-label">账号</label>
    <div class="clearfix"></div>
    <div class="col-xs-10 col-xs-offset-1">
      <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group row" style="margin-top:1rem;">
    <label for="inputEmail3" class="col-xs-10 col-xs-offset-1 control-label">密码</label>
    <div class="clearfix"></div>
    <div class="col-xs-10 col-xs-offset-1">
      <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group row" style="margin-top:1rem;">
    <label for="inputEmail3" class="col-xs-10 col-xs-offset-1 control-label">重复输入密码</label>
    <div class="clearfix"></div>
    <div class="col-xs-10 col-xs-offset-1">
      <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group row" style="margin-top:1rem;">
    <label for="inputEmail3" class="col-xs-10 col-xs-offset-1 control-label">性别</label>
    <div class="clearfix"></div>
    <div class="col-xs-5 col-xs-offset-1">
      <select class="form-control">
          <option>男</option>
          <option>女</option>
		</select>
    </div>
  </div>
  <div class="form-group row" style="margin-top:1rem;">
    <label for="inputEmail3" class="col-xs-10 col-xs-offset-1 control-label">邮箱</label>
    <div class="clearfix"></div>
    <div class="col-xs-10 col-xs-offset-1">
      <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group row" style="margin-top:1rem;">
    <label for="inputEmail3" class="col-xs-10 col-xs-offset-1 control-label">手机</label>
    <div class="clearfix"></div>
    <div class="col-xs-10 col-xs-offset-1">
      <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group row" style="margin-top:1rem;">
    <label for="inputEmail3" class="col-xs-5 col-xs-offset-1 control-label">验证码</label>
    <div class="clearfix"></div>
    <div class="col-xs-5 col-xs-offset-1">
      <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
     </div> 
     <div class="col-xs-5">
      <button class="btn btn-default">发送验证码</button>
    </div> 
  </div>
  <div class="form-group row" style="margin-top:1rem;">
    <button class="btn btn-default col-xs-10 col-xs-offset-1">注册</button>
  </div>
 </form>