<div class="row"><%= data["009"].dsc %></div>
<div class="clearfix"></div>
    <div class="panel panel-primary" style="margin-top:1rem;"><div class="panel-heading">风险控制团队</div>
      <div class="panel-body">
      <% _.each(data["010"].data,function(member){%>
      <div class="col-xs-12" style="background-color: #FFFFFF;box-shadow: .3rem .3rem .3rem rgba(0,0,0,0.3);margin-bottom: 1rem;padding-bottom: .5rem;padding-top: .5rem;">
    	<div class="col-xs-4">
        	<img src="<%= member.image[0] %>" class="img-responsive" alt="Responsive image">
        </div>
        <div class="col-xs-8">
        	<div style="font-size:1rem"><%= member.name %></div>
            <div style="font-size:1rem"><%= member.job %></div>
        </div>
        <div class="col-xs-12" style="font-size:.8rem">
        <%= member.name %>
        </div>
    </div>
       <% }) %>
      	

      </div>
    </div>
    <% _.each(data["011"].data,function(member){%>
    <div class="clearfix"></div>
    <div class="panel panel-primary"><div class="panel-heading"><%= member.title %></div>
      <div class="panel-body" style="background-color: #FFFFFF;padding-bottom: .5rem;padding-top: .5rem;">
      	
    	<div class="col-xs-4">
        	<img src="<%= member.image[0] %>" class="img-responsive" alt="Responsive image">
            <div style="font-size:1rem"><%= member.name %></div>
        </div>
        <div class="col-xs-8" style="font-size:.6rem">
        	<%= member.dsc %>
        </div>
    
      </div>
    </div>
   <% }) %>


