<form class="form-horizontal">
  <div class="form-group row" style="margin-top:2rem;">
    <label for="inputEmail3" class="col-xs-10 col-xs-offset-1 control-label">真实姓名</label>
    <div class="clearfix"></div>
    <div class="col-xs-10 col-xs-offset-1">
      <input type="text" class="form-control" id="inputEmail3" placeholder="请输入真实姓名" value="<%= data.name %>" D_type="simple" D_data="name">
    </div>
  </div>
  <div class="form-group row" style="margin-top:2rem;">
    <label for="inputEmail3" class="col-xs-10 col-xs-offset-1 control-label">紧急联系人</label>
    <div class="clearfix"></div>
    <div class="col-xs-10 col-xs-offset-1">
      <input type="text" class="form-control" id="inputEmail3" placeholder="请输入紧急联系人姓名" value="<%= data.contacts %>" D_type="simple" D_data="contacts">
    </div>
  </div>
  <div class="form-group row" style="margin-top:2rem;">
    <label for="inputEmail3" class="col-xs-10 col-xs-offset-1 control-label">联系人手机</label>
    <div class="clearfix"></div>
    <div class="col-xs-10 col-xs-offset-1">
      <input type="text" class="form-control" id="inputEmail3" placeholder="请输入联系人电话" value="<%= data.contactsPhone %>" D_type="simple" D_data="contactsPhone">
    </div>
  </div>
  <div class="form-group row" style="margin-top:2rem;">
    <label for="inputEmail3" class="col-xs-10 col-xs-offset-1 control-label">居住地址</label>
    <div class="clearfix"></div>
    <div class="col-xs-10 col-xs-offset-1">
      <input type="text" class="form-control" id="inputEmail3" placeholder="请输入居住地址" value="<%= data.place %>" D_type="simple" D_data="place">
    </div>
  </div>
  <div class="form-group row" style="margin-top:2rem;">
    <label for="inputEmail3" class="col-xs-10 col-xs-offset-1 control-label">最高学历</label>
    <div class="clearfix"></div>
    <div class="col-xs-10 col-xs-offset-1">
      <input type="text" class="form-control" id="inputEmail3" placeholder="请输入最高学历" value="<%= data.record %>" D_type="simple" D_data="record">
    </div>
  </div>
  <div class="form-group row" style="margin-top:2rem;">
    <label for="inputEmail3" class="col-xs-10 col-xs-offset-1 control-label">毕业院校</label>
    <div class="clearfix"></div>
    <div class="col-xs-10 col-xs-offset-1">
      <input type="text" class="form-control" id="inputEmail3" placeholder="请输入毕业院校" value="<%= data.university %>" D_type="simple" D_data="university">
    </div>
  </div>
  <div class="form-group row" style="margin-top:2rem;">
    <label for="inputEmail3" class="col-xs-10 col-xs-offset-1 control-label">职位</label>
    <div class="clearfix"></div>
    <div class="col-xs-10 col-xs-offset-1">
      <input type="text" class="form-control" id="inputEmail3" placeholder="请输入当前职位" value="<%= data.job %>" D_type="simple" D_data="job">
    </div>
  </div>
  <div class="form-group row" style="margin-top:2rem;">
    <label for="inputEmail3" class="col-xs-10 col-xs-offset-1 control-label">所在公司</label>
    <div class="clearfix"></div>
    <div class="col-xs-10 col-xs-offset-1">
      <input type="text" class="form-control" id="inputEmail3" placeholder="请输入当前所在公司" value="<%= data.company %>" D_type="simple" D_data="company">
    </div>
  </div>
  <div class="form-group row" style="margin-top:2rem;">
    <button type="button" class="col-xs-10 col-xs-offset-1 btn btn-primary" D_type="send">提交修改</button>
  </div>
  </form>