<form class="form-horizontal">
  <div class="form-group row" style="margin-top:2rem;">
    <label for="inputEmail3" class="col-xs-10 col-xs-offset-1 control-label">真实姓名</label>
    <div class="clearfix"></div>
    <div class="col-xs-10 col-xs-offset-1">
      <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group row" style="margin-top:2rem;">
    <label for="inputEmail3" class="col-xs-10 col-xs-offset-1 control-label">紧急联系人</label>
    <div class="clearfix"></div>
    <div class="col-xs-10 col-xs-offset-1">
      <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group row" style="margin-top:2rem;">
    <label for="inputEmail3" class="col-xs-10 col-xs-offset-1 control-label">联系人手机</label>
    <div class="clearfix"></div>
    <div class="col-xs-10 col-xs-offset-1">
      <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group row" style="margin-top:2rem;">
    <label for="inputEmail3" class="col-xs-10 col-xs-offset-1 control-label">居住地址</label>
    <div class="clearfix"></div>
    <div class="col-xs-10 col-xs-offset-1">
      <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group row" style="margin-top:2rem;">
    <label for="inputEmail3" class="col-xs-10 col-xs-offset-1 control-label">最高学历</label>
    <div class="clearfix"></div>
    <div class="col-xs-10 col-xs-offset-1">
      <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group row" style="margin-top:2rem;">
    <label for="inputEmail3" class="col-xs-10 col-xs-offset-1 control-label">毕业院校</label>
    <div class="clearfix"></div>
    <div class="col-xs-10 col-xs-offset-1">
      <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group row" style="margin-top:2rem;">
    <label for="inputEmail3" class="col-xs-10 col-xs-offset-1 control-label">职位</label>
    <div class="clearfix"></div>
    <div class="col-xs-10 col-xs-offset-1">
      <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group row" style="margin-top:2rem;">
    <label for="inputEmail3" class="col-xs-10 col-xs-offset-1 control-label">所在公司</label>
    <div class="clearfix"></div>
    <div class="col-xs-10 col-xs-offset-1">
      <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  </form>